body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background: #fd6e0a;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 15px 25px 13px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.text-primary {
    color: #fd6e0a;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greatings {
    font-size: 25px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-name {
    font-size: 40px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-container {
    max-width: 500px;
    align-items: center;
}

/* main section start  */
main {
    max-width: 1140px;
    margin: ;
}

main section {
    margin-top: 130px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #d4c0b1;
    margin: 130px;
}

.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-left: 150px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(173, 27, 27, 0.06);
}


.resume-column-title {
    color: var(--dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    margin-left: 150px;
    gap: 50px;
}

.resume-item-title {
    color: var(--dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institiute {
    color: var(--dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
}

.resume-item-description {
    color: var(--dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}